{{>header}}
<div class="card">
 <h1>Adicionar produto</h1>
   <form action="/admin/produtos/novo" method="post" enctype="multipart/form-data" class="adiciona">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" placeholder="Nome do produto">
      <label for="slug">Slug:</label>
      <input type="text" id="slug" name="slug" placeholder="Slug do produto">
      <label for="descricao">Descrição:</label>
      <textarea  id="descricao" name="descricao" placeholder="Descrição do produto" cols="30" rows="5"></textarea>
      <label>Imagem do Produto</label>
      <input name="Img" type="file" class="form-control-file" placeholder="Imagem do Produto">
      <label for="preco">Preço:</label>
      <input type="number" class="form-control" name="preco" step="0.01" maxlength="number" placeholder="Preço do produto">
      <button class="btn" type="submit">Criar produto</button>
   </form>
</div>