<div class="card">
   <form action="/admin/produtos/novo" method="post">
<label for="nome">Nome:</label>
<input type="text" id="nome" name="nome" placeholder="Nome da categoria">
<label for="slug">Slug:</label>
<input type="text" id="slug" name="slug" placeholder="Slug da categoria">
<label for="preco">Preço:</label>
<input type="number" class="form-control" name="preco"  step="0.01" maxlength="number">
<button class="btn" type="submit">Criar produto</button>
</form>
</div>