{{>header}}
<h2>Lista de categorias</h2>
<a href="/admin/categorias/add"><button class="btn">Nova categoria</button></a>

{{#each categorias}}
<div class="card">
    <h2>{{nome}}</h2>
    <small>{{slug}}</small>
    <small>{{date}}</small>

</div>
{{else}}

{{/each}}