<div class="nav">
  <div class="nav-header">
    <div class="nav-title">
    GameStore
    </div>
  </div>
  <div class="nav-btn">
      
  </div>
  
  <div class="nav-links">
    <a href="/admin/categorias/add">Adicionar categoria</a>
    <a href="/admin/produtos/add">Adicionar produto</a>
  </div>
</div>