<div class="nav">
  <div class="nav-header">
    <div class="nav-title">
    GameStore
    </div>
  </div>
  {{#if user}}
  {{else}}
  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/usuarios/login">Login</a>
    <a href="/usuarios/registro">Registro</a>
    {{/if}}
  </div>
</div>