<div class="nav">
  <div class="nav-header">
    <div class="nav-title">
    GameStore
    </div>
  </div>
  <div class="nav-btn">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
  </div>
</div>