<div class="nav">
  <div class="nav-header">
    <div class="nav-title">
    GameStore
    </div>
  </div>

  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/admin/categorias">Categorias</a>
    <a href="/admin/produtos">Produtos</a>
    <a href="#">Login</a>
    <a href="/usuarios/registro">Registro</a>
  </div>
</div>