.card {
  width: 330px;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #efefef;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-top: 20px;
  align-self: center;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}
* {
  padding: 0;
  margin: 0;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px; /* fara quebrar e nao explodir a tela se tiver em telas menores. Adiciona isso se tiver pelo menos 2 cards*/
}

.img {
  display: flex;
  overflow: hidden;
  bottom: 0;
  width: 70%;
  height: auto;
  border-radius: 20px;
  margin: auto;
}

.img-tiny {
  display: flex;
  bottom: 0;
  width: 20%;
  height: auto;
  border-radius: 20px;
  margin: auto;
}

input[type="text"],
[type="number"],
[type="password"],
[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.qtd {
  width: 9%;
  padding: 15px;
  margin-left: 20px;
}

.total {
  background-color: #00BFFF;
  display: block;
  margin: 0 auto;
  padding: 5px 5px;
  align-content: center;
}

.info,
.success,
.warning,
.error,
.validation {
  border: none;
  margin: 10px auto;
  padding: 18px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  font-family: "Quicksand", sans-serif;
  max-width: 460px;
  border-radius: 40px;
  color: white;
}
.error {
  background-color: red;
}
.success {
  background-color: green;
}
.btn,
a {
  text-decoration: none;
}

.btn:hover {
  border: none;
}

label {
  font-family: "Quicksand", sans-serif;
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.btn {
  border-radius: 20px;
  color: black;
  display: block;
  padding: 15px 80px;
  text-decoration: none;
  background: #1e90ff;
  border: none;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  font-size: 19px;
  font-family: "Quicksand", sans-serif;
}

form {
  position: relative;
  width: 300px;
  padding: 1em;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin: 0 auto;

}

h3 {
  font-weight: lighter;
  margin-left: 10px;
  margin-top: 20px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.header {
  height: 30%;
  background: white;
  color: black;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 16px;
}
body {
  background-color: #dcdcdc;
}

h1 {
  font-weight: lighter;
  margin-left: 10px;
  margin-top: 20px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

* {
  box-sizing: content-box;
}

.nav-title,
.nav-links {
  font-family: "Quicksand", sans-serif;
}

.nav {
  margin-bottom: 40px;
  height: 50px;
  width: 100%;
  background-color: #0070d1;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: black;
  padding: 10px 20px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  font-size: 19px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
