{{>header}}
<h1>Checkout</h1>
<form action="/checkout" method="post">
<label for="nome">Nome Completo:</label>
<input type="text" name="nome">
<label for="cpf">CPF:</label>
<input type="text" name="cpf">
<label for="email">Email:</label>
<input type="text" name="email">
<label for="cartao">Número do cartão</label>
<input type="text" name="cartao">
<label for="venc">Data de vencimento</label>
<input type="text" name="venc">
<label for="cod">Código de segurança</label>
<input type="text" name="cod">
<button class="btn" type="submit"> Enviar</button>
</form>
<h3>Checkout de exemplo</h3>