{{>header}}


<div class="container">
    <h1>Editar carrinho</h1>
<form  action="/usuarios/carrinho/edit" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{produto._id}}">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" placeholder="Nome do produto" value="{{produto.nome}}">
    <label for="descricao">Descrição:</label>
    <textarea id="descricao" name="descricao" placeholder="Descrição do produto" cols="30" rows="5"></textarea>
    <label>Imagem do Produto</label>
    <input name="Img" type="file" class="form-control-file" placeholder="Imagem do Produto">
    <label for="preco">Preço:</label>
    <input type="number" class="form-control" name="preco" step="0.01" maxlength="number" placeholder="Preço do produto">
    <button class="btn" type="submit">Salvar produto</button>
</form>
</div> 
