{{>header}}
<h1>Login</h1>
<div class="card">
    <form action="/usuarios/login" method="POST">
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <label for="senha">Senha:</label>
        <input type="password" name="senha" required>
        <button class="btn" type="submit">Entrar</button>
    </form>

</div>